.body {
  background-image: url("../images/marvel-comics-wallpapers.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  background-position: center; */
}
.mainContainerWrap {
  width: 960px;
  margin: auto;
  background-color: rgb(211, 205, 205);
}

.title {
  color: red;
  background-color: yellow;
  text-align: center;
  font-weight: bolder;
  
}

.quizContainerWrap {
  margin-top: 30px;
}

#wrapper {
  padding-top: 100px;
  margin-top: 30px;
  margin: auto;
  border-style: groove;
  top: 200px;
  height: auto;
  padding-top: 15px;
}
#show-timer {
  text-align: center;
  width: 50px;
  border-width: 2px;
  border-style: solid;
  height: auto;
  float: right;
  font-size: 20px;
}

#quiz {
  width: 100%;
  margin: auto;
  border-style: groove;
  opacity: .75;
}

#submit {
  float: right;
}

.multiChoice {
  margin: 5px;
}